<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Calculator Homepage</title>
</head>

<h1>Welcome to the best Calculator app</h1>
<h2>select button for choose calculator mode</h2>


<body>
    <form action="calc" method="POST">
    {% csrf_token %}

     <label>1 select GET calculator: </label>
    <input id="GETMODE"  value="CalGET"  type="submit"/></br></br>

    <label>2 select POSE calculator: </label>
    <input id="POSEMODE" value="CalPOSE"  type="submit"/></br></br>

    <label>3 select Information: </label>
    <input id="INFO" value="info"  type="submit"/></br></br>



    </form>
</body>
</html>